.task {
  padding: 0 50px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  &_edit {
    span {
      margin-left: 20px;
      position: relative;
      bottom: 8px;
      cursor: pointer;
      &:hover {
        path {
          fill: #62dafc;
          transition: fill 0.1s ease-in-out;
        }
      }
    }
  }
}

.checkbox {
  display: flex;
  input {
    display: none;
  }
  p {
    font-size: 20px;
    margin-left: 15px;
    text-align: justify;
  }
  label {
    min-width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 2px solid #32363f;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;

    svg {
      opacity: 0;
      &:hover {
        opacity: 1;
      }
    }
  }

  input:checked + label {
    background: #62dafc;
    svg {
      opacity: 1;
    }
  }
}

input:checked + label + p {
  text-decoration: line-through;
  opacity: 0.5;
}

@media (max-width: 1024px) {
  .task {
    padding: 0 15px;
    margin-bottom: 5px;
    &_edit {
      span {
        margin-left: 12px;
        bottom: 10px;
        svg {
          width: 12px;
          height: 12px;
        }
      }
    }
  }
  .checkbox {
    p {
      font-size: 16px;
      margin-left: 12px;
    }
    label {
      min-width: 20px;
      height: 20px;
      svg {
        width: 10px;
      }
    }
  }
}

@media (max-width: 768px) {
  .task {
    padding: 0 10px;
    &_edit {
      span {
        margin-left: 10px;
        bottom: 6px;
        svg {
          width: 12px;
          height: 12px;
        }
      }
    }
  }
  .checkbox {
    p {
      font-size: 14px;
      margin-left: 10px;
    }
    label {
      min-width: 20px;
      height: 20px;
      svg {
        width: 10px;
      }
    }
  }
}

@media (max-width: 560px) {
  .task {
    &_edit {
      span {
        margin-left: 8px;
        bottom: 4px;
        svg {
          width: 10px;
          height: 10px;
        }
      }
    }
  }
  .checkbox {
    p {
      font-size: 12px;
      margin-left: 8px;
    }
    label {
      min-width: 16px;
      height: 16px;
      svg {
        width: 8px;
      }
    }
  }
}

@media (max-width: 425px) {
  .task {
    &_edit {
      span {
        margin-left: 6px;
        bottom: 4px;
        svg {
          width: 8px;
          height: 8px;
        }
      }
    }
  }
  .checkbox {
    p {
      font-size: 10px;
      margin-left: 6px;
    }
    label {
      min-width: 14px;
      height: 14px;
      svg {
        width: 6px;
      }
    }
  }
}
