.input {
  input {
    cursor: pointer;
    background: #62dafc;
    width: 200px;
    color: black;
    padding: 7px 15px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
    transition: background-color 0.1s ease-in-out;
    &.liststyle {
      width: 100%;
      font-size: 16px;
    }
    &.taskstyle {
      width: 210px;
      font-size: 16px;
    }
    &:hover {
      background: lighten(#62dafc, 10%);
    }
    &:focus {
      background-color: white;
      cursor: auto;
    }
  }
}

@media (max-width: 1024px) {
  .input {
    input {
      width: 150px;
      &.liststyle {
        font-size: 14px;
      }
      &.taskstyle {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 768px) {
  .input {
    input {
      width: 150px;
      padding: 5px 10px;
      &.taskstyle {
        width: 170px;
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 560px) {
  .input {
    input {
      width: 120px;
      padding: 4px 10px;
      font-size: 12px;
      &.liststyle {
        font-size: 12px;
      }
      &.taskstyle {
        width: 150px;
      }
    }
  }
}

@media (max-width: 425px) {
  .input {
    input {
      width: 100px;
      padding: 2px 10px;
      font-size: 10px;
      &.liststyle {
        font-size: 11px;
      }
      &.taskstyle {
        width: 130px;
        font-size: 11px;
      }
    }
  }
}