.button {
  padding: 7px 10px;
  width: 100px;
  border-radius: 10px;
  background: #3adf55;
  font-family: 'Montserrat', sans-serif;
  transition: background-color 0.1s ease-in-out;
  &:hover {
    background: darken(#3adf55, 7%);
  }
  &:active {
    background: darken(#3adf55, 12%);
  }
  &.liststyle {
    width: 100%;
    margin-top: 15px;
    font-size: 16px;
  }
  &.danger {
    background: #cc362b;
    margin-left: 10px;
    &:hover {
      background: darken(#cc362b, 7%);
    }
    &:active {
      background: darken(#cc362b, 12%);
    }
  }
}

@media (max-width: 1024px) {
  .button {
    font-size: 12px;
    padding: 6px 8px;
    &.liststyle {
      margin-top: 10px;
      font-size: 14px;
    }
    &.danger {
      margin-left: 10px;
    }
  }
}

@media (max-width: 768px) {
  .button {
    font-size: 10px;
    padding: 6px 8px;
    width: 80px;
    &.liststyle {
      font-size: 12px;
    }
  }
}

@media (max-width: 560px) {
  .button {
    font-size: 10px;
    padding: 4px 6px;
    width: 70px;
    &.liststyle {
      margin-top: 10px;
    }
  }
}

@media (max-width: 425px) {
  .button {
    font-size: 10px;
    padding: 2px 4px;
    width: 60px;
    &.liststyle {
      margin-top: 5px;
      font-size: 10px;
    }
  }
}
