.listtasks {
  max-height: calc(100vh - 100px);
  border-right: 2px solid #62dafc;
  width: 300px;
  padding: 20px 20px;
  font-size: 18px;

  &_add {
    text-align: center;
    margin-top: 60px;
  }

  ul {
    overflow: auto;
    max-height: calc(100vh - 300px);
    li {
      margin-bottom: 8px;
      transition: background-color 0.1s ease-in-out;
      border-radius: 10px;
      width: 95%;
      overflow: hidden;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      &.active {
        background: #62dafc;
        color: #20232a;
      }
      a {
        display: block;
        width: 100%;
        padding: 7px 10px;
      }
      span {
        position: relative;
        top: 8px;
        right: 5px;
        &:hover {
          path {
            transition: fill 0.1s ease-in-out;
            fill: #20232a;
            opacity: 1;
          }
        }
      }

      &:hover {
        background: #62dafc;
        color: #20232a;
      }
    }
  }
}
