.tasks {
  flex: 1;
  font-size: 30px;
  padding: 15px 60px;
  &_title {
    padding: 15px 50px;
    border-bottom: 1px solid #62dafc;
    span {
      margin-left: 20px;
      cursor: pointer;
      &:hover {
        path {
          transition: fill 0.1s ease-in-out;
          fill: #62dafc;
        }
      }
    }
  }
  &_task {
    padding: 30px 60px;
    p {
      text-align: center;
    }
    &_wrapper {
      overflow: auto;
      max-height: 380px;
    }
  }
}
