.app {
  position: absolute;
  left: 50%;
  top: 50%;
  width: calc(100vw - 25px);
  height: calc(100vh - 35px);
  transform: translate(-50%, -50%);
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #62dafc;
  border: 5px solid #20232a;
  box-shadow: 1px 2px 20px #20232a;
  border-radius: 10px;
  background: #20232a;
  display: flex;
  flex-direction: column;
  scrollbar-color: #458245 #714826;
  scrollbar-width: 5px;
  ::-webkit-scrollbar-thumb {
    background: #62dafc;
    border-radius: 15px;
  }
  ::-webkit-scrollbar-track {
    background-color: #20232a;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }

  &_wrapper {
    display: flex;
    flex: 1;
  }
}
