.addtask {
  padding: 5px 0 10px;
  &_open {
    display: flex;
    align-items: center;
    button {
      font-size: 18px;
      margin-left: 5px;
      color: #62dafc;
      cursor: pointer;
      svg {
        margin-right: 10px;
      }
      &:hover {
        color: white;
        path {
          stroke: white;
        }
      }
    }
  }
  
  &_form {
    &_wrapper {
      display: flex;
    }
  }
}
