.addtask {
  padding: 5px 0 10px;
  &_open {
    display: flex;
    align-items: center;
    button {
      font-size: 18px;
      margin-left: 5px;
      color: #62dafc;
      cursor: pointer;
      svg {
        margin-right: 10px;
      }
      &:hover {
        color: white;
        path {
          stroke: white;
        }
      }
    }
  }
  
  &_form {
    &_wrapper {
      display: flex;
    }
  }
}

@media (max-width: 1024px) {
  .addtask {
    padding: 10px 0;
  }
}

@media (max-width: 768px) {
  .addtask {
    &_open {
      button {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 560px) {
  .addtask {
    &_open {
      button {
        font-size: 14px;
        svg {
          margin-right: 6px;
          width: 11px;
          height: 11px;
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .addtask {
    &_open {
      button {
        font-size: 11px;
        svg {
          width: 10px;
          height: 10px;
        }
      }
    }
  }
}


